

h1{
    font-family: 'Darker Grotesque', sans-serif;
    color: black;
    font-size: 32px;
    font-weight: 700;
}

h2{
    font-family: 'Darker Grotesque', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: 500; 
}

h3{
    font-family: 'Darker Grotesque', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 500; 
}


.header{
    font-family: 'Darker Grotesque', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 500;

    background-color: #FF7B60;
}

#servicios{
    font-family: 'Darker Grotesque', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 300; 

    background-color: #bababa;
}

.servicios{
    font-family: 'Darker Grotesque', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: 500; 
}

.newsletter{
    font-family: 'Darker Grotesque', sans-serif;
    color:aliceblue;
    font-size: 16;
    font-weight: 300;

    background-color: #FF7B60;
}

.footer{
    font-family: 'Darker Grotesque', sans-serif;
    color:aliceblue;
    font-size: 16;
    font-weight: 300;

    background-color: #000;
}
