

.home{
    margin: 50% 20% 40% 20%;
}

.col-lg-4{
    font-family: 'Darker Grotesque', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: 500;
    background-color: #BBFF0F;
}

.quienes{
    text-align: justify;
    margin: 05% 20% 05% 20%;
}

.contacto{
    width: 100%;
    background-color: #42E3FF;
    .formulario{
        border: 1px;
        border-radius: 10px;
        text-align: center;
        background-color: white;
        margin: 30%;
    }
}


.newsletter{
    font-family: 'Darker Grotesque', sans-serif;
    color:aliceblue;
    font-size: 16;
    font-weight: 300;

    background-color: #FF7B60;
}

.servicio{
    text-align: center;
    margin: 2rem;
}